Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

Exercise 10 - Insert a markdown cell to list Objectives

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular development environment for Data Science

Exercise 4 - Create a markdown cell to list data science languages

Some of popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ---- ------- ----- |
| Jupyter |
| Jupyter Labs |
| Apache Zeppelin |

| Data Science Tools |
| ---- ------- ----- |
| Jupyter |
| Jupyter Labs |
| Apache Zeppelin |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Vicente Falcao

## Author

Vicente Falcao